 @import "../../_globalColor";

.skills-main-div {
 
  width: 100%;
  overflow: hidden;
}

.skills-text-div {
  margin-left: 50px;
}

.skills-text-div-heading {
  margin-left: -44px;
}

.skills-text-div{

  .cube {
    margin-left: 958px;
    margin-top: -280px;
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 10s infinite linear;
  }
  
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px transparent #ccc;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
  }
  
  .face1 { transform: translateZ(100px); }
  .face2 { transform: rotateY(90deg) translateZ(100px); }
  .face3 { transform: rotateY(180deg) translateZ(100px); }
  .face4 { transform: rotateY(-90deg) translateZ(100px); }
  .face5 { transform: rotateX(90deg) translateZ(100px); }
  .face6 { transform: rotateX(-90deg) translateZ(100px); }

  .icon{
    padding-top: 65px;
    width: 80px;
    height: 80px;
  }
  
  @keyframes rotateCube {
    from { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ; }
    to { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  }
  


}
.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > img {
  padding-left: 250px;
  max-width: 100%;
  height: auto;
  margin-top: -50px;
}
.skills-image-div:hover img {
  filter: drop-shadow(8px 10px 4px #7a7a80);
  transition: filter 300ms ease-in-out;
}

 
.skills-att-image > img {
  padding-left: 190px;
  max-width: 100%; 
  height: auto;
}
.skills-att-image:hover img {
  filter: drop-shadow(8px 10px 4px #7a7a80);
  transition: filter 300ms ease-in-out;
}

 


.skills-heading {
  font-size: 30px;
  font-weight: 400;
}
.subTitle {
  color: $subTitle;
}


@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }

  .skills-text-div {
    .cube{
      margin-left: 66px;
      margin-top: 100px;
      height: 233px;
    }
   
  }

  
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }


  .skills-text-div > img {
    width: 104%;
  }

  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div > img{
    width: 104%;
    height: 256px;
    
  }
  .skills-att-image > img {
     padding-left: 0px; 
    height: 256;
  }

  .skills-text-div {
    .cube{
      margin-left: 66px;
      margin-top: 100px;
      height: 233px;
    }
   
  }


}
@media (max-width: 320px) {
  .skills-main-div {
    width: auto;
  }
  .skills-text-div {
    .cube{
      margin-left: 66px;
      margin-top: 100px;
      height: 233px;
    }
   
  }
}


   








