@import "../../_globalColor";

.skills-main-div {
 
  width: 100%;
  overflow: hidden;
}

.skills-text-div {
  margin-left: 50px;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > img {
  padding-left: 250px;
  max-width: 100%;
  height: auto;
  margin-top: -50px;
}
.skills-image-div:hover img {
  filter: drop-shadow(8px 10px 4px #7a7a80);
  transition: filter 300ms ease-in-out;
}

 
.skills-att-image > img {
  padding-left: 51px;
  max-width: 100%;
  height: auto;
}
.skills-att-image:hover img {
  filter: drop-shadow(8px 10px 4px #7a7a80);
  transition: filter 300ms ease-in-out;
}

 


.skills-heading {
  font-size: 30px;
  font-weight: 400;
}
.subTitle {
  color: $subTitle;
}


@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div > img{
 height: 256px;
  }
  .skills-att-image > img {
     padding-left: 0px; 
    height: 256;
  }
}
@media (max-width: 320px) {
  .skills-main-div {
    width: auto;
  }}
